{#{% extends 'base.html.twig' %}#}
{% extends '@EasyAdmin/page/content.html.twig' %}
{% block title %}Hello AppController!{% endblock %}

{% block page_content %}

    {% for indexName in ['dummy_Product', 'dummy_Image'] %}
        <a href="{{ path('meili_insta', {indexName: indexName}) }}">{{ indexName }}</a>
    {% endfor %}

    {{ products|length }} Products
    {% for type, flash in app.flashes %}
        <li>{{ type }} {{ flash }}</li>
    {% endfor %}

    {% for response in responses|default([]) %}
        {{ response|json_pretty }}
    {% endfor %}

    {% for locale, lang in languages|default([]) %}
        <a href="{{ path('app_homepage', {target: locale}) }}">
            {{ lang }}
        </a>
        |
    {% endfor %}

    <table style="width: 100%;">
        <tbody>

        <tr>
            <th>Product Title</th>
            <th>Original Image</th>
            <th>Original Size (bytes)</th>
            <th>Small</th>
            <th>Medium</th>
            <th>Large</th>
        </tr>
        {% for product in products|default([]) %}
            {% for image in product.images %}
                <tr>
                    <td>
                        {{ product.title }}
                        SKU : <b>{{ product.sku }}</b>
                    </td>
                    <td>
                        <a href="{{ image.originalUrl }}" target="_blank">
                            Show Original
{#                            <img src="{{ image.originalUrl }}" alt="Original" style="width: 100px;" />#}
                        </a>
                        Code : {{ image.code }}
                    </td>
                    <td>
                        {% if image.originalSize is defined and image.originalSize %}
                            {{ image.originalSize }}
                        {% else %}
                            ---
                        {% endif %}
                    </td>
                    <td>
                        <code>{{ image.marking }}</code>
{#                        {{ image.resized|length ? dump(image.resized) }}#}
                        {% for size, thumb in image.resized %}
{#                            {{ size }}#}
{#                            {{ thumb }}#}
                            {% if size == 'small' %}
                            <a href="{{ image.resized.small }}" target="_blank">
                                <img src="{{ thumb }}" alt="{{ size }}" style="width: 60px;" />
                            </a>
                            {% endif %}
                        {% endfor %}
                    </td>
{#                    <td>#}
{#                        {% if image.resized is defined and image.resized.medium is defined and image.resized.medium %}#}
{#                            <a href="{{ image.resized.medium }}" target="_blank">#}
{#                                <img src="{{ image.resized.medium }}" alt="Medium" style="width: 80px;" />#}
{#                            </a>#}
{#                        {% else %}#}
{#                            Pending ...#}
{#                        {% endif %}#}
{#                    </td>#}
{#                    <td>#}
{#                        {% if image.resized is defined and image.resized.large is defined and image.resized.large %}#}
{#                            <a href="{{ image.resized.large }}" target="_blank">#}
{#                                <img src="{{ image.resized.large }}" alt="Large" style="width: 100px;" />#}
{#                            </a>#}
{#                        {% else %}#}
{#                            Pending ...#}
{#                        {% endif %}#}
{#                    </td>#}
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
