{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    {% for indexName in ['dummy_Product', 'dummy_Image'] %}
        <a href="{{ path('meili_insta', {indexName: indexName}) }}">{{ indexName }}</a>
    {% endfor %}

    {{ products|length }} Products
    {% for type, flash in app.flashes %}
        <li>{{ type }} {{ flash }}</li>
    {% endfor %}

    {% for response in responses|default([]) %}
        {{ dump(response) }}
    {% endfor %}

    {% for locale, lang in languages|default([]) %}
        <a href="{{ path('app_homepage', {target: locale}) }}">
            {{ lang }}
        </a>
        |
    {% endfor %}

    <table>
        <tbody>
        {% for idx, product in products|default([]) %}
        <tr>

            <td>
                <img style="width: 100px" src="{{ product.thumbnail }}" title="{{ product.thumbnail }}" />
                Thumb from dummyjson
            </td>
            <td>
                <ul>
                {% for image in product.images %}
                    <li>
                        {{ idx < 3 ? dump(image) }}
                    </li>

                {% endfor %}
                </ul>
            </td>
            <td>
                {{ product.title }}
                <br />
                <i>
                    {{ translations[idx]??'~' }}
                </i>

            </td>



        </tr>
        {% endfor %}

        </tbody>
    </table>


{% endblock %}
